@model IEnumerable<ekipage.Models.Horse>

@{
    ViewData["Title"] = "Index";
}

<h1>Ridskolans hästar</h1>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
    -->
<p class="text-info">Förändringar i hästlistan kan endast genomföras av ridksolechefen</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HorseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorseTemper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorseDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorseTemper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorseDescription)
            </td>
            <th></th>
            <!--
        <td>
            <a asp-action="Edit" asp-route-id="Aitem.HorseId">Edit</a> |
            <a asp-action="Details" asp-route-id="Aitem.HorseId">Details</a> |
            <a asp-action="Delete" asp-route-id="Aitem.HorseId">Delete</a>
        </td>
    -->
        </tr>
        }
    </tbody>
</table>
