@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<ekipage.Models.DateForLesson>

@{
    ViewData["Title"] = "Datum och lektionstyp";
}

<h1>Datum och lektionstyp</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonContent.Lesson)
            </td>
            @if (SignInManager.IsSignedIn(User))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DateForLessonId">Ändra</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>

<partial name="_CafePartial" />
<div class="cafePartial"></div>


<!--
        A{
            IEnumerable<ekipage.Models.Rider> hest = (IEnumerable<ekipage.Models.Rider>)ViewBag.text;
        }
        <table>
            <tr>
                <th>Ryttare</th>
                <th>Häst</th>
            </tr>
            Aforeach (ekipage.Models.Rider person in hest)
            {
        <tr>
            <td>Aperson.RiderName</td>
            <td>Aperson.HorseId</td>
        </tr>
            }
        </table>
-->
